<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
</head>
<body>
 <center>
   <p></p>
    <form method="POST" action="/">
      <label for="">Jobid</label>
      <input type="text" name="jobId"><br><br>
      <label for="">operator id</label>
      <input type="text" name="optId"><br><br>
      <button type="submit">Submit</button>
    </form>
</center>
</body>
</html>